@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&subset=latin-ext');

//reset
*
  box-sizing: border-box;
  padding: 0;
  margin: 0;

a
  color: #39c;
  font-weight: 400;
  text-decoration: none;

body
  padding: 50px;
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: 300;
  font-stretch: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #777;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 90% 10%;
  grid-template-areas:
    "header content"\
    "footer footer ";
  width 100vw;
  height 100vh;
  .site-header
    grid-area: header;
    background-color: white;
    .wrapper
      margin-left: 35%;
      margin-right: 35%;
      text-align: center;
      .site-title, .header-quote, .header-bottom-links
        margin: 0 0 20px;
      .site-title-link
        font-size: 42px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: bold;
        text-decoration: none;
        line-height: 1.1;
        color: #222;
  .page-content
    grid-area: content;
    .home
      margin: 0 30px;
      .post-list
        list-style: none;
  .site-footer
    grid-area: footer;

.pretty-post
  display: grid;
  grid-template-rows: 30px 20px auto 30px;
  grid-template-areas:
          "post-title"\
          "post-metadata"\
          "post-body"\
          "read-more";
  .post-title
    grid-area: post-title;
    justify-self: center;
  .post-meta
    grid-area: post-metadata;
    font-size: .8em;
    list-style: none;
    justify-self: center;
  .post-body
    grid-area: post-body;
  .read-more-link
    grid-area: read-more;

hr.style-two
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(200,100,255,1),rgba(0,0,0,0));
  &.smaller
    width: 60%;
    justify-self: center;

hr
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;

h2 a
  color: rgb(200,100,255);
  font-weight: 400;

p
  margin-bottom: 20px