<head>
  <script>
    window.onload = function() {
      let root = document.documentElement;
      var store = window.localStorage;
      var night = store.getItem('nightMode');
      if (!night) {
        night = 'light'; // default to light 
      }
      if (night === 'light') {
        setLight();
      } else {
        setDark();
      }

      function setDark() {
        console.log('set dark')
        root.style.setProperty('--base-color', 'var(--so-base3)');
        root.style.setProperty('--base-lighten-color', 'var(--so-base2)');
        root.style.setProperty('--background-color', 'var(--so-base03)');
        root.style.setProperty('--background-over-color', 'var(--so-base02)');
        root.style.setProperty('--text-color', 'var(--so-base0)');
        root.style.setProperty('--link-color', 'var(--so-base1)');
        root.style.setProperty('--code-color', 'var(--so-base0)');
        root.style.setProperty('--code-background-color', 'var(--so-base02)');
        root.style.setProperty('--table-border-color', 'var(--so-base01)');
        root.style.setProperty('--table-background-color', 'var(--so-base02)');
        root.style.setProperty('--divider-color', 'var(--so-base02)');
        document.getElementById("toggle--daynight").checked = false;
      }
      
      function setLight() {
        console.log('set light')
        root.style.setProperty('--base-color', 'var(--so-base01)');
        root.style.setProperty('--base-lighten-color', 'var(--so-base02)');
        root.style.setProperty('--background-color', 'var(--so-base3)');
        root.style.setProperty('--background-over-color', 'var(--so-base2)');
        root.style.setProperty('--text-color', 'var(--so-base00)');
        root.style.setProperty('--link-color', 'var(--so-base01)');
        root.style.setProperty('--code-color', 'var(--so-base02)');
        root.style.setProperty('--code-background-color', 'var(--so-base2)');
        root.style.setProperty('--table-border-color', 'var(--so-base1)');
        root.style.setProperty('--table-background-color', 'var(--so-base2)');
        root.style.setProperty('--divider-color', 'var(--so-base2)');
        document.getElementById("toggle--daynight").checked = true;
      }

      document.documentElement.classList.add(night);
      document.getElementById("toggle--daynight").onclick = function toggle() {
        let night = store.getItem('nightMode');
        if (night === 'light') {
          setDark();
          store.setItem('nightMode', 'dark');
        } else {
          setLight();
          store.setItem('nightMode', 'light');
        }
      }
    }
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

  <!-- Font -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}


  {% include google-analytics.html %}

</head>
