<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="{{ data.author.name }}">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" href="{{urls.media}}/favicon.ico" />
    {{# page.description }}
      <meta name="description" content="{{ . }}">
    {{/ page.description }}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The order these are loaded in matters! -->
    {{# stylesheets.load }}
      application.css
    {{/ stylesheets.load }}
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> -->
     
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="center">Tyler Thrailkill</h1>
        <p class="center">Don't look back</p>
        <p class="center">
<!--           {{# data.navigation?to__root }}
            <a href="{{url}}">{{title}}</a>
            <span>   |   </span>
          {{/ data.navigation?to__root }} -->
          <a href="/">Home</a>
          <span>|</span>
          <a href="/blog">Blog</a>
          <span>|</span>
          <a href="/tutorials">Tutorials</a>
        </p>
        <p class="center">
          <a href="https://github.com/snowe2010">GitHub</a>
          <span>|</span>
          <a href="http://twitter.com/snowe2010">Twitter</a>
          <span>|</span>
          <a href="http://www.linkedin.com/in/tylerthrailkill/">LinkedIn</a>
        </p>
        <div style="width: 50%;margin-left:auto;margin-right:auto">
          <hr class="style-two">
        </div>
      </header>

      <section>
        <div id='content'>
          {{{content}}}
        </div>
      </section>

      <footer>
        <p class="center">
          Made with help from <a href="http://www.ruhoh.com">Ruhoh</a>
        </p>
      </footer>
    </div>

    <!--<script>hljs.initHighlightingOnLoad();</script>-->
    <!-- <script type="text/javascript">
    SyntaxHighlighter.autoloader(
      'js jscript javascript /javascripts/shBrushJScript.js'
    );
    SyntaxHighlighter.all();
    </script> -->
    {{# javascripts.load }}
      scale.fix.js
      xregexp.js
      shCore.js
      shBrushRuby.js
      shBrushBash.js
      shBrushJScript.js
    {{/ javascripts.load }}
    <script type="text/javascript">SyntaxHighlighter.all()</script>
  </body>
</html>