<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="author" content="{{ data.author.name }}">
    {{# page.description }}
      <meta name="description" content="{{ . }}">
    {{/ page.description }}
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    {{# stylesheets.load }}
      styles.css
      zenburn.css
    {{/ stylesheets.load }}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 style="display: inline-block;">Tyler Thrailkill</h1>
        <p>Don't look back</p>
        <p>
          <a href="/blog">Blog</a>
          <span>   |   </span>
          <a href="/tutorials">Tutorials</a>
          <span>   |   </span>
          <a href="https://github.com/snowe2010">GitHub</a>
        </p>
      </header>

      <section>
        <div id='content'>
          <pre id="brush: rb">
            def test_of_syntax_highlighting(params)
            end
          </pre>
          <pre class="brush: rb"><code>
            def test_of_syntax_highlighting(params)
              puts @variable.inspect
              @var.each do |something|
                test.something
              end
            end

            class Mod 
              def meth
                puts hello
              end
            end
          </code></pre>
          {{{content}}}
        </div>
      </section>

    </div>
    {{# javascripts.load }}
      scale.fix.js
      highlight.pack.js
    {{/ javascripts.load }}

    <script>hljs.initHighlightingOnLoad();</script>
    <footer>
      <p class="view">
        Made with help from <a href="http://www.ruhoh.com">Ruhoh</a>
      </p>
    </footer>
  </body>
</html>