---
layout: default
---

<div class="home">
  <h2>
    My Life
  </h2>
  <p>
    I was born in Texas. I grew up in Waco. I now live in Colorado, where I'm a student at the Colorado School of Mines. I currently work for Recondo Technology located in Greenwood Village, CO, where I'm a Jr. Software Engineer.
  </p>
  <p>
    I have a lovely girlfriend named Sabrina, and I have a cat named Athena. I like to snowboard, slackline, teach others, and most of all Ruby.
  </p>
  <p>
    I've got a ton of things I've worked on and even though a lot of them are private you can still view the remaining ones at my github profile. <a href="https://github.com/snowe2010">@snowe2010</a>
  </p>
</div>
